body {
  background-color: black;
}

.page-container {
  margin-left: 0em;
  margin-right: 3em;
  border-bottom-style: inset;
}



.gray-space {
  background-color: #3b3d42;
  height: 20px;
  width: auto;
  position: absolute;
}

/*This is all the styling for the elements in the banner container*/

#banner_container img {
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

h1 {
  font-family: "Vollkorn";
  font-style: bold;
  font-size: 42px;
  text-align: center;
  font-weight: 900px;
  color: white;
}


#banner_container h2 {
  font-family: "Vollkorn";
  font-style: bold;
  font-size: 42px;
  font-style: normal;
  color: white;
  text-align: center;
  font-weight: 900px;
}

#banner_container {
    margin-left: 20px;
    margin-right: 20px;
    border-left: 20px;
    border-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 0;
    margin-top: 55px;
}

#banner_container a:link {
  color: yellow;
  text-decoration: none;
}

#banner_container a:hover {
  color: gray;
}

#banner_container a:visited {
  color: #4d4d00;
}

#banner_container h2 {
    color: #d9d9d9;
    display: block;
    font-size: 2rem;
    font-family: "Vollkorn: serif";
    font-style: normal;
    line-height: 38px;
    text-decoration: inherit;
    word-spacing: 1px;
    margin-bottom: 85px;
}

/*End of the styling of the banner container*/

/*Start of the container styling for the projects section of the page*/

.container {
    /* height: 47vh; */
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 0px;
}

.image {
  width: 100%;
}

/*Styling of the projects container, images and descriptions of each project*/

/*Making the link color yellow*/
.container a {
  color: yellow;
  text-decoration: none;

}

/*When hovering over the anchor tag, the color changes to gray*/
.container a:hover {
  color: gray;
}

.container a:visited {
  color: #4d4d00;
}

.container h2 {
  color: yellow;
  text-align: left;
}


.container p {
    text-align: left;
    font-size: 17px;
}

.photography {
    /* height: 47vh; */
    margin: 67px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
}



.photo-head {
  color: white;
  text-align: center;
}

.currently {
    /* height: 47vh; */
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px 0px;
    padding: 1px;
    line-height: 20px;
}
.current-head {
  color: white;
  text-align: center;
}

.currently p {
  font-size: 24px;
}

/*Individual styling for each class item on each div*/
.currently img {
  width: 100%;
  height: 100%;
}
.cell {
  color: white;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 0%;
  /*! width: 100%; */
  height: 75%;
}

.cell :hover .image {
  opacity: 0.3;
  /*! width: auto; */
}
.cell-1 {
  background: black;
}
.cell-2 {
  background: black;
}
.cell-3 {
  background: black;
}
.cell-4 {
  background: black;
}
.cell-5 {
  background: black;
}
.cell-6 {
  background: black;
}
.cell-7 {
  background: black;
}
.cell-8 {
  background: black;
}
.cell-9 {
  background: black;
}

.cell-10 {
  background: black;

}

.cell-11 {
  background: black;
}

.cell-12 {
  background: black;
  grid-column-start: 1;
  grid-column-end: 3;
}

.cell-13 {
  background: black;
  grid-column: 1;
  grid-row: 4;

}

.cell-14 {
  background: black;
  grid-column: 2;
  grid-row: 4;
}

.cell-15 img {
  background: black;
  /* margin: 10px; */

}

.cell-16 img {
  background: black;
  /* margin: 10px; */

}

.cell-17 img {
  background: black;
  /* margin: 10px; */

}

.cell-18 img {
  background: black;
  /* margin: 10px; */

}

.currently a:link {
  color: yellow;
  text-decoration: none;
}

.currently a:hover {
  color: gray;
}

.currently a:visited {
  color: #4d4d00;
}

footer {
  padding-top: 20px;
}

footer ul li{
  display: inline;
  font-size: 22px;
  word-spacing: 5px;
  margin-top: 30px;
  padding-top: 20px;
}
footer ul {
  word-spacing: 26px;
}

footer a:link {
  color: yellow;
  text-decoration: none;
}

footer a:hover {
  color: gray;
  text-decoration:
}

footer a:visited {
  color: #4d4d00;
}

footer p {
  color: white;
}

nav {
  display: inline;
}



@media screen and (max-width: 992px) {

  .page-container {
    /*! margin-left: 0em; */
    /*! margin-right: 1em; */
    border-bottom-style: inset;
  }

  .image {
    width: 100%;
  }


  .container {
    height: 297vh;
    margin-bottom: 72px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
  }

  .photography {
    /* height: 47vh; */
    margin: 67px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
  }

  .cell-10 {
    width: 100%;

  }

  .cell-11 {
    width: 100%;

  }

  .currently {
    height: 95vh;
    margin-left: 67px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px 26px;
    padding: 1px;
    line-height: 20px;
}

  .currently img {
    width: 100%;
    /*! height: 311px; */
  }

  h1 {
    font-family: "Vollkorn";
    font-style: bold;
    font-size: 42px;
    text-align: center;
    font-weight: 900px;
    color: white;
  }

}



@media screen and (max-width: 700px) {


  #banner_container h2 {
    color: #d9d9d9;
    display: block;
    font-size: 14px;
    font-family: "Vollkorn:400";
    font-style: normal;
    line-height: 23px;
    text-decoration: inherit;
    word-spacing: 1px;
    margin-bottom: 85px;
}

  .page-container {
    margin-left: 0em;
    margin-right: 0em;
    border-bottom-style: inset;
}


  .container {
    height: 578vh;
    margin-bottom: 72px;
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: auto auto auto; */
    grid-gap: 10px 0px;
  }


  .photography {
    height: 56vh;
    display: grid;
    grid-template-columns: auto;
    /*grid-template-rows: auto auto;*/
    grid-gap: 0px 0px;
    margin-bottom: 32%;
  }

  .photography img {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .currently {
    /* height: 47vh; */
    margin: 0px;
    display: grid;
    grid-template-columns: auto;
    /*grid-template-rows: auto;*/
    grid-gap: 0px 0px;
    padding: 1px;
    line-height: 20px;
  }

  .currently img {
    width: 100%;
  }

  .container img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 510px) {

  #banner_container h2 {
    color: #d9d9d9;
    display: block;
    font-size: 100%;
    font-family: "Vollkorn:400";
    font-style: normal;
    line-height: 23px;
    text-decoration: inherit;
    word-spacing: 1px;
    margin-bottom: 85px;
}



  .photography {
    height: 112vh;
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: auto auto; */
    /*! grid-gap: 0px 0px; */
    margin-bottom: 38%;
  }

  .currently {
    margin: 0px;
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: auto; */
    grid-gap: 0px 0px;
    padding: 1px;
    line-height: 20px;
    /*! height: 205vh; */
    margin-top: 10%;
  }

  .container {
    height: 623vh;
    margin-bottom: 72px;
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: auto auto auto; */
    grid-gap: 10px 0px;
  }

  .cell-10 {
    width: 100%;
  }

  .cell-11 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .cell-12 {
    background: black;
    /*! grid-row: span 2; */
    grid-column: 1;
    width: 100%;
  }

  .cell-13 {
    background: black;
    /*! grid-row: span 2; */
    grid-column: 1;
    width: 100%;
  }

  .cell-14 {
    background: black;
    /*! grid-row: span 2; */
    grid-column: 1;
    width: 100%;
  }


}
